/* td {
  max-width: 180px;
  padding: 0 1px;
}
.bigcell {
  max-width: 300px;
}
input {
  max-width: 160px;
  padding: 1px;
}
/* .description,
.destination {
  max-width: max-content;
} */
