# Use root/example as user/password credentials

version: '3.1'

services:

  adminer:
    image: adminer
    restart: always
    ports:
      - 8200:8080

  vacationsdb:
    image: mysql:5.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: YpM88sT3bA5W
    ports:
      - 4000:4000

  server:
    build: .
    ports:
      - 3306:3306
