@media (min-width: 1200px) {
  .container,
  /* .container-lg,
  .container-md,
  .container-sm, */
  .container-xl {
    max-width: 1480px !important;
    margin-right: 5%;
    margin-left: 5%;
  }
}
